/ProyectoIPC2/nbproject/private/
/ProyectoIPC2/build/
/ejemploWS/nbproject/private/
/Practica2/nbproject/private/
/Practica2/build/
/Practica2/dist/
/Proyecto/Proyecto-Java/nbproject/private/
/Proyecto/Proyecto-Java/build/